<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ppgti.org/persondsl/PersonDsl"
			class = "org.ppgti.persondsl.personDsl.PersonDslPackage"
			genModel = "model/generated/PersonDsl.genmodel" />
	</extension>
</plugin>
